@font-face {
    font-family: "Days";
    src: url("../fonts/days.otf");
    url("../fonts/days.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

BODY {
    background: url("../images/background-hd.jpg");
    background-size: cover;
    background-color: #031b43;

    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.container.image_container .margined-top-div {
    margin-top: 25px;
}

.container .avatar {
   position: relative;
}

.img-avatar {
    border: 4px solid #e5e9ee;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
    margin-top: 30px;
}

.container span.name-header {
    font-family: "Days", sans-serif;
    font-size: 55px;

    color: #FFF;
}

.container a#mailto:hover {
    text-decoration: none;
}

.container span.email {
    font-family: "Days", sans-serif;
    font-size: 48px;

    color: #ff7700;

    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.container span.email:hover {
    color: #CCB9FF;/* Skype color: #a8b4c6; */

    transition: none;
}

.container span.skype-header {
    font-family: "Days", sans-serif;
    font-size: 48px;
}

.container span.skype-header.left {
    color: #FFF;
    opacity: 0.6;
}

.container span.skype-header.center {
    color: #FFF;
}

.container span.skype-header.right {
    color: #57588C;
}

.html5_tech_logo_img {
    padding: 12px;
}

#parallax_container {
    position: absolute;
    min-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.scene {
    margin-left: 25%;
}

.cloud_layer {
    position: relative;
    left: -50%;
}

.cloud_two {
    left: -25%;
}

.cloud_three {
    left: -30%;
}

.cloud_four {
    left: -45%;
}
/* svg tags */
.tags { margin-top: 48px }

.tags > a { margin-right: 10px }
/* default svg sprite on img background */
.tags > a > img.sprite-django { background: url(../images/web-logos.svg) 0 0; }
.tags > a > img.sprite-javascript { background: url(../images/web-logos.svg) -106px 0; }
.tags > a > img.sprite-python { background: url(../images/web-logos.svg) -212px 0; }
.tags > a > img.sprite-nodejs { background: url(../images/web-logos.svg) -318px 0; }
.tags > a > img.sprite-sass { background: url(../images/web-logos.svg) -424px 0; }
.tags > a > img.sprite-bootstrap { background: url(../images/web-logos.svg) -530px 0; }
.tags > a > img.sprite-jquery { background: url(../images/web-logos.svg) -636px 0; }
.tags > a > img.sprite-angular { background: url(../images/web-logos.svg) -742px 0; }
.tags > a > img.sprite-less { background: url(../images/web-logos.svg) -848px 0; }
/* hover tags */
.tags > a:hover > img.sprite-django { background: url(../images/web-logos-hover.svg) 0 0; }
.tags > a:hover > img.sprite-javascript { background: url(../images/web-logos-hover.svg) -106px 0; }
.tags > a:hover > img.sprite-python { background: url(../images/web-logos-hover.svg) -212px 0; }
.tags > a:hover > img.sprite-nodejs { background: url(../images/web-logos-hover.svg) -318px 0; }
.tags > a:hover > img.sprite-sass { background: url(../images/web-logos-hover.svg) -424px 0; }
.tags > a:hover > img.sprite-bootstrap { background: url(../images/web-logos-hover.svg) -530px 0; }
.tags > a:hover > img.sprite-jquery { background: url(../images/web-logos-hover.svg) -636px 0; }
.tags > a:hover > img.sprite-angular { background: url(../images/web-logos-hover.svg) -742px 0; }
.tags > a:hover > img.sprite-less { background: url(../images/web-logos-hover.svg) -848px 0; }

.counter { color: #85D6FF; font-family: "Days", Helvetica, Arial, sans-serif; font-size: 18px }

.content .bordered-block {
    display: table;
    border: solid 1px #0085FF;
    margin-bottom: 24px;
}

.content .bordered-block span.header {
    display: block;
    margin: 16px 0;

    color: #B6A46F;
    font-size: 24px;
    font-family: "Days", Helvetica, Arial, sans-serif;
}

.content .bordered-block .project-thumbnail {
    padding-top: 5px;
}

.content .bordered-block p {
    color: #AFE1FF;
}

.content .btn-default {
    background-color: #AAB5C2;
    border-color: #2F4C6B;
    color: #223952;

    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);

    width: 100%;

}
.content .btn-default:hover {
    background-color: #C3DAF8;
    border-color: #234e73;
    color: #223952;
}

/* Link to External resources (buttons) */
.container.image_container .profiles-content {
    margin-bottom: 50px; margin-top: 50px;
}

.container.image_container .external-profile {
    font-size: 24px;
    font-weight: bold;

    border-radius: 8px;
    padding: 10px;

    margin-left: 4px;
    margin-right: 4px;
}

/* oDesk / Upwork */
.odesk-profile {
    background: url("../images/upwork-profile-link.svg");

    display: inline-block;
    vertical-align: middle;

    width: 254px;
    height: 81px;
}

.odesk-profile:hover {
    background: url("../images/upwork-profile-hover.svg");
}

/* Github */
.github-profile {
    color: #bfcdda;
    background: #00132F;
    border: 1px solid #00132F;
    transition: color 2s ease-in, background 0.5s ease-in-out;
}

.github-profile:hover {
    color: #6fda44;
    text-decoration: none;

    background: none;
    border: 1px solid #6fda44;

    transition: none;
}

.flag-language {
    position: absolute;
    bottom: 0;
}

.flag-language > a {
    font-family: "Days", sans-serif; font-size: larger;
    color: #00132F;
    text-decoration: none;
}

.flag-language > a:hover {
    color: #FFF;
}

.flag-language > a > img { margin-right: 5px; }

/* Effect 15: scale down, reveal */
.flag-language span {
    color: rgba(0,19,47,0.9);
    font-weight: 700;
    text-shadow: none;
}

.flag-language span::before {
    position: absolute;
    top: 3px;

    color: #fff;

    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    content: attr(data-hover);
}

.flag-language span:hover::before,
.flag-language span:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

/* Mobile and media */
@media (max-width: 480px) {
    BODY {background-size: 100%; background-image: url("../images/background-iphone.jpg")}

    .container span.name-header, .container span.email {
        font-size: 2.5em;
    }

    .container span.skype-header {
        font-size: 2.0em;
    }

    .container.image_container .external-profile {
        font-size: 1.0em;
    }

    .centered-scale-element {
        width: 100%;
    }

}
/* iPhone screen / smartphones */
@media (max-width: 767px) {
    BODY {
        background-size: cover;
        background-image: url("../images/background-ipad.jpg");
    }

    #parallax_container {
        max-width: 100%;
    }

    img.cloud_three {
        opacity: 0.9;
    }

    .show_portfolio_button {
        padding: 10px 35px;
    }


    .content .thumbnail .caption .description-en-center-block {
        min-height: 30px;

    }

    .content .thumbnail .caption .description-ru-center-block {
        min-height: 30px;

    }

    .content .thumbnail .caption .header {
        min-height: 0;
    }

    .content .btn-default {
        height: 60px;
        line-height: 46px;
        font-size: 24px;
    }

}

@media (max-width: 767px), (min-resolution: 192dpi) {
    BODY {
        background-image: url("../images/background-hd.jpg");
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .tags > a > img {
        height: 84px;
        width: 84px;
    }

    .tags > a > img.sprite-django { background-position: -6px -6px; }
    .tags > a > img.sprite-javascript { background-position: -120px -8px; }
    .tags > a > img.sprite-python { background-position: -218px -6px; }
    .tags > a > img.sprite-nodejs { background-position: -324px -6px; }
    .tags > a > img.sprite-sass { background-position: -430px -6px; }
    .tags > a > img.sprite-bootstrap { background-position: -536px -8px; }
    .tags > a > img.sprite-jquery { background-position: -642px -6px; }
    .tags > a > img.sprite-angular { background-position: -748px -6px; }
    .tags > a > img.sprite-less { background-position: -852px -6px; }
    /* hover tags */
    .tags > a:hover > img.sprite-django { background-position: -6px -6px; }
    .tags > a:hover > img.sprite-javascript { background-position: -120px -8px; }
    .tags > a:hover > img.sprite-python { background-position: -218px -6px; }
    .tags > a:hover > img.sprite-nodejs { background-position: -324px -6px; }
    .tags > a:hover > img.sprite-sass { background-position: -430px -6px; }
    .tags > a:hover > img.sprite-bootstrap { background-position: -536px -8px; }
    .tags > a:hover > img.sprite-jquery { background-position: -642px -6px; }
    .tags > a:hover > img.sprite-angular { background-position: -748px -6px; }
    .tags > a:hover > img.sprite-less { background-position: -852px -6px; }

}

@media (min-width: 768px) {
    .content .bordered-block .remove-left-padding { min-height: 200px }
}

@media (min-width: 992px) {
    .content .bordered-block .remove-left-padding { padding-left: 0 }
}