extends ../base.jade

block title
    title Chip Mark: online shop project on Yii PHP, HTML5, adaptive Bootstrap and LESS | Anya Novikova

block portfolio-thumb
    .row.text-center
        span.portfolio-header Chip Market
        a.site-link(href="../../index.html")
            span #{www}

block about-project
    ul
        li
            a(href="http://git-scm.com/about", target="_blank") Git
        li
            a(href="http://yiiframework.com", target="_blank") Yii PHP framework
        li
            a(href="http://twig.sensiolabs.org/", target="_blank") Twig template engine
        li
            a(href="http://lesscss.org/features/", target="_blank") LESS | CSS
        li
            a(href="http://getbootstrap.com/css/", target="_blank") Bootstrap 3

    p.col-md-12 This is a shop for sale office and home equipment, home media, smartphones, Apple computers.

block about-team
    p
        | It consisted of me and other russian freelancers, we worked in series: design to PSD,
        | then html/css coding with Webstorm tool and LESS compiler,
        | after php back-end on CMS system based on php Yii framework. Yii was a new experience for me, but work with
        | Mustache was very simple, because i like language syntax of the Django template system :)
        br
        | Our team: project manager, Photoshop-designer,
        | i am as HTML developer and PHP developer.
        | We used the remote job system with Skype communication.

block my-role

    p.col-md-12
        | Site based on Yii and Mustache. I used my knowledge of LESS preprocessor with Twitter
        | Bootstrap CSS framework and Mustache template system.
        | When i worked with project's repo i used&nbsp
        a(href="http://git-scm.com/about", target="_blank") GIT version control system
        | .&nbspI worked near 2 weeks with this project and developed HTML main page for e-shop areas:

    ul(style="display: inline-block")
        li Categories
        li Center Panel with registration button and text-info with Glyphicons Component from Bootstrap
        li Goods Layout
        li Help area for Clients
        li LESS code with Bootstrap for all elements

block result
    p.col-md-12
        | After 2 weeks i completed project and main goal was&nbsp
        strong converting PSD to HTML and LESS.
        br
        | Also all layout based on responsive base of Twitter Bootstrap 3 for mobile and desktop.
        | My russian client said:
    blockquote
        | "Well, nice! We liked your work and skills. LESS is clean and beautiful".
    p.col-md-12
        | During this project I increased my skills with Mustache and LESS.

block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="market.html", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/market-page.png", alt="Admin panel")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.icon-logout
                    | Browse ChipMarket page
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/chipmarket/tree/master/less", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/less-code.png", alt="LESS")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Browse LESS from project
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/chipmarket/tree/master/js", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/js-code.png", alt="JS")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Browse JS from project
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/chipmarket/blob/master/market-en.html", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/html5-code.png", alt="Admin panel")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Show HTML5 code of site