nav.navbar.navbar-inverse.navbar-fixed-top.helper-routes(v-if="displayRoutes")
    .container-fluid
        ul.nav.navbar-nav
            li
                a /django
            li
                a /bootstrap
            li
                a /less
            li
                a /sass
            li
                a /nodejs
            li
                a /python
            li
                a /javascript
            li
                a /js
            li
                a /jquery
            li
                a /angular

            li
                a.project /bookreport
            li
                a.project /sumati
            li
                a.project /hammer
            li
                a.project /premium
            li
                a.project /catapult
            li
                a.project /imobo
            li
                a.project /redalgo
            li
                a.project /conclave
            li
                a.project /healthy