body.homepage-body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#homepage .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  #homepage .sumati-logo-container {
    padding: 0 0 0 15px;
  }
}
#homepage .navbar-default {
  background: none;
}
@media (max-width: 568px) {
  #homepage .navbar-fixed-top {
    top: -50px;
    background: #0CB8E8;
  }
}
#homepage .navbar-nav.main-navbar > li {
  margin-right: 25px;
}
@media (max-width: 480px) {
  #homepage .navbar-nav.main-navbar > li {
    margin-right: 0;
  }
}
#homepage .navbar-home > li > a::after {
  left: 0;
  width: 100%;
}
@media (max-width: 768px) {
  #homepage .navbar-home > li > a::after {
    width: 80%;
  }
}
#homepage .navbar-home > li > a:hover::after {
  height: 10px;
}
@media (max-width: 480px) {
  #homepage .navbar-home > li > a:hover::after {
    height: 5px;
  }
}
#homepage .navbar-home .dropdown-menu {
  left: -1px;
}
#homepage .navbar-home .dropdown-menu > li > a {
  font-family: 'Dax-Regular';
  font-size: 14px;
  color: #000;
}
#homepage .navbar-home .dropdown-menu > li > a:hover,
#homepage .navbar-home .dropdown-menu > li > a:focus {
  font-family: Dax-Bold;
  color: #000;
}
@media (max-width: 768px) {
  #homepage .navbar-home .dropdown-menu {
    left: -1px;
    width: 240px;
  }
}
#homepage html,
#homepage body {
  height: 100%;
}
#homepage video {
  width: 100%;
  height: 100%;
}
#homepage .carousel,
#homepage .item,
#homepage .active {
  height: 100%;
}
#homepage .carousel-inner {
  height: 100%;
}
#homepage .carousel-inner {
  overflow: visible;
}
#homepage .carousel-container {
  position: relative;
  top: -150px;
  left: 0;
}
@media (min-width: 320px) and (max-width: 568px) {
  #homepage .carousel-container {
    top: -32px;
  }
}
#homepage .carousel-container .main-text-container {
  position: absolute;
  top: 190px;
  left: -380px;
}
@media (min-width: 1200px) {
  #homepage .carousel-container .main-text-container {
    width: 1400px;
  }
}
@media (min-width: 992px) and (max-width: 1201px) {
  #homepage .carousel-container .main-text-container {
    width: 1150px;
  }
}
@media (min-width: 780px) and (max-width: 991px) {
  #homepage .carousel-container .main-text-container {
    width: 750px;
    top: -6px;
    left: -100px;
  }
}
@media (min-width: 768px) and (max-width: 780px) {
  #homepage .carousel-container .main-text-container {
    width: 750px;
    top: -6px;
    left: -15px;
  }
}
@media (max-width: 767px) {
  #homepage .carousel-container .main-text-container {
    top: -6px;
    left: 0;
    width: 100%;
  }
}
#homepage .carousel-control.right,
#homepage .carousel-control.left {
  background-image: none;
}
#homepage .carousel-indicators {
  position: absolute;
  top: 550px;
  left: 0;
  width: 85px;
  height: 30px;
  margin-left: 0;
  padding: 0;
  text-align: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  #homepage .carousel-indicators {
    top: -60px;
  }
}
@media (max-width: 767px) {
  #homepage .carousel-indicators {
    top: -60px;
    left: 15px;
  }
}
#homepage .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: rgba(158, 143, 128, 0.82);
  border: 1px solid rgba(158, 143, 128, 0.82);
  border-radius: 12px;
}
#homepage .carousel-indicators .active {
  background: white;
  border: 1px solid rgba(158, 143, 128, 0.82);
}
#homepage .glyphicon-chevron-left,
#homepage .glyphicon-chevron-right {
  display: none;
}
#homepage .header-container {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(39, 110, 137, 0.7);
  padding: 0 0 0 380px;
  color: #fff;
  text-align: left;
}
@media (max-width: 767px) {
  #homepage .header-container {
    padding: 0 0 0 15px;
  }
}
#homepage .header-container .col-xs-12 {
  border-left: 1px solid rgba(49, 138, 178, 0.63);
  background-color: rgba(30, 179, 230, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 15px 30px 15px;
}
#homepage .header-container p.fadein-paragraph {
  font-family: 'Dax-Regular';
  font-size: 24px;
  display: none;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@media (max-width: 980px) {
  #homepage .header-container p.fadein-paragraph {
    font-size: 18px;
  }
}
#homepage .header-container h1 {
  font-family: 'Dax-Regular';
  font-size: 44px;
}
#homepage .header-container h1 sup {
  font-size: 18px;
  vertical-align: 14px;
}
@media (max-width: 980px) {
  #homepage .header-container h1 {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  #homepage .first-slide .header-container {
    padding: 0 0 0 100px;
    background-color: rgba(11, 153, 201, 0.5);
  }
  #homepage .first-slide .header-container .col-xs-12 {
    border-left: 1px solid rgba(49, 138, 178, 0.63);
    background-color: rgba(30, 179, 230, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (max-width: 768px) {
  #homepage .first-slide .header-container {
    padding: 0 0 0 15px;
  }
}
#homepage .second-slide .header-container,
#homepage .third-slide .header-container {
  background-color: transparent;
}
#homepage .second-slide .header-container .col-xs-12,
#homepage .third-slide .header-container .col-xs-12 {
  background-color: transparent;
  border-left: none;
}
@media (max-width: 992px) {
  #homepage .second-slide .header-container,
  #homepage .third-slide .header-container {
    padding: 0 0 0 100px;
    background-color: rgba(11, 153, 201, 0.5);
  }
  #homepage .second-slide .header-container .col-xs-12,
  #homepage .third-slide .header-container .col-xs-12 {
    border-left: 1px solid rgba(49, 138, 178, 0.63);
    background-color: rgba(30, 179, 230, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (max-width: 768px) {
  #homepage .second-slide .header-container,
  #homepage .third-slide .header-container {
    padding: 0 0 0 15px;
  }
}
#managment .navbar-collapse,
#about .navbar-collapse,
#sumatiteam .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
#managment .navbar-about-managment,
#about .navbar-about-managment,
#sumatiteam .navbar-about-managment {
  padding-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  #managment .navbar-about-managment,
  #about .navbar-about-managment,
  #sumatiteam .navbar-about-managment {
    padding-left: 0;
  }
}
#managment .dropdown-menu.about,
#about .dropdown-menu.about,
#sumatiteam .dropdown-menu.about,
#managment .dropdown-menu.about-contact,
#about .dropdown-menu.about-contact,
#sumatiteam .dropdown-menu.about-contact,
#managment .dropdown-menu.about-risk,
#about .dropdown-menu.about-risk,
#sumatiteam .dropdown-menu.about-risk {
  left: -140px;
  width: 260px;
}
#managment .dropdown-menu.about > li > a,
#about .dropdown-menu.about > li > a,
#sumatiteam .dropdown-menu.about > li > a,
#managment .dropdown-menu.about-contact > li > a,
#about .dropdown-menu.about-contact > li > a,
#sumatiteam .dropdown-menu.about-contact > li > a,
#managment .dropdown-menu.about-risk > li > a,
#about .dropdown-menu.about-risk > li > a,
#sumatiteam .dropdown-menu.about-risk > li > a {
  font-family: 'Dax-Regular';
  font-size: 14px;
  color: #000;
}
#managment .dropdown-menu.about > li > a:hover,
#about .dropdown-menu.about > li > a:hover,
#sumatiteam .dropdown-menu.about > li > a:hover,
#managment .dropdown-menu.about-contact > li > a:hover,
#about .dropdown-menu.about-contact > li > a:hover,
#sumatiteam .dropdown-menu.about-contact > li > a:hover,
#managment .dropdown-menu.about-risk > li > a:hover,
#about .dropdown-menu.about-risk > li > a:hover,
#sumatiteam .dropdown-menu.about-risk > li > a:hover,
#managment .dropdown-menu.about > li > a:focus,
#about .dropdown-menu.about > li > a:focus,
#sumatiteam .dropdown-menu.about > li > a:focus,
#managment .dropdown-menu.about-contact > li > a:focus,
#about .dropdown-menu.about-contact > li > a:focus,
#sumatiteam .dropdown-menu.about-contact > li > a:focus,
#managment .dropdown-menu.about-risk > li > a:focus,
#about .dropdown-menu.about-risk > li > a:focus,
#sumatiteam .dropdown-menu.about-risk > li > a:focus {
  font-family: Dax-Bold;
  color: #0CB8E8;
}
@media (max-width: 768px) {
  #managment .dropdown-menu.about,
  #about .dropdown-menu.about,
  #sumatiteam .dropdown-menu.about,
  #managment .dropdown-menu.about-contact,
  #about .dropdown-menu.about-contact,
  #sumatiteam .dropdown-menu.about-contact,
  #managment .dropdown-menu.about-risk,
  #about .dropdown-menu.about-risk,
  #sumatiteam .dropdown-menu.about-risk {
    left: 16px;
    width: 160px;
  }
}
#managment .dropdown-menu.about-risk,
#about .dropdown-menu.about-risk,
#sumatiteam .dropdown-menu.about-risk {
  left: -66px;
}
@media (max-width: 768px) {
  #managment .dropdown-menu.about-risk,
  #about .dropdown-menu.about-risk,
  #sumatiteam .dropdown-menu.about-risk {
    left: 16px;
    width: 240px;
  }
}
#managment .chief-text-box,
#about .chief-text-box,
#sumatiteam .chief-text-box {
  padding-right: 100px;
}
@media (max-width: 980px) {
  #managment .row,
  #about .row,
  #sumatiteam .row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#managment h1,
#about h1,
#sumatiteam h1 {
  color: #0CB8E8;
  font-size: 30px;
  font-family: "Dax-Regular";
  margin-bottom: 50px;
  margin-top: 70px;
}
#managment h2,
#about h2,
#sumatiteam h2 {
  color: #0CB8E8;
  font-family: "Dax-Regular";
  font-size: 21px;
}
#managment h4,
#about h4,
#sumatiteam h4,
#managment p,
#about p,
#sumatiteam p {
  color: #000;
}
#managment p,
#about p,
#sumatiteam p {
  font-family: "Dax-Regular";
  font-size: 16px;
}
#managment h4,
#about h4,
#sumatiteam h4 {
  font-family: "Dax-Bold";
  font-size: 18px;
  margin-top: 0;
}
#managment .image-container,
#about .image-container,
#sumatiteam .image-container {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 980px) {
  #managment .image-container,
  #about .image-container,
  #sumatiteam .image-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
#managment .member-descriptionone,
#about .member-descriptionone,
#sumatiteam .member-descriptionone,
#managment .member-descriptiontwo,
#about .member-descriptiontwo,
#sumatiteam .member-descriptiontwo,
#managment .member-descriptionthree,
#about .member-descriptionthree,
#sumatiteam .member-descriptionthree,
#managment .member-descriptionfour,
#about .member-descriptionfour,
#sumatiteam .member-descriptionfour,
#managment .member-descriptionfive,
#about .member-descriptionfive,
#sumatiteam .member-descriptionfive {
  margin-bottom: 40px;
  display: none;
}
#managment .member-descriptionone img,
#about .member-descriptionone img,
#sumatiteam .member-descriptionone img,
#managment .member-descriptiontwo img,
#about .member-descriptiontwo img,
#sumatiteam .member-descriptiontwo img,
#managment .member-descriptionthree img,
#about .member-descriptionthree img,
#sumatiteam .member-descriptionthree img,
#managment .member-descriptionfour img,
#about .member-descriptionfour img,
#sumatiteam .member-descriptionfour img,
#managment .member-descriptionfive img,
#about .member-descriptionfive img,
#sumatiteam .member-descriptionfive img {
  margin-top: 20px;
}
@media (max-width: 992px) {
  #managment .member-descriptionone img,
  #about .member-descriptionone img,
  #sumatiteam .member-descriptionone img,
  #managment .member-descriptiontwo img,
  #about .member-descriptiontwo img,
  #sumatiteam .member-descriptiontwo img,
  #managment .member-descriptionthree img,
  #about .member-descriptionthree img,
  #sumatiteam .member-descriptionthree img,
  #managment .member-descriptionfour img,
  #about .member-descriptionfour img,
  #sumatiteam .member-descriptionfour img,
  #managment .member-descriptionfive img,
  #about .member-descriptionfive img,
  #sumatiteam .member-descriptionfive img {
    display: block;
    margin: 0 auto;
  }
}
#managment .member-descriptionone > .col-md-8,
#about .member-descriptionone > .col-md-8,
#sumatiteam .member-descriptionone > .col-md-8,
#managment .member-descriptiontwo > .col-md-8,
#about .member-descriptiontwo > .col-md-8,
#sumatiteam .member-descriptiontwo > .col-md-8,
#managment .member-descriptionthree > .col-md-8,
#about .member-descriptionthree > .col-md-8,
#sumatiteam .member-descriptionthree > .col-md-8,
#managment .member-descriptionfour > .col-md-8,
#about .member-descriptionfour > .col-md-8,
#sumatiteam .member-descriptionfour > .col-md-8,
#managment .member-descriptionfive > .col-md-8,
#about .member-descriptionfive > .col-md-8,
#sumatiteam .member-descriptionfive > .col-md-8 {
  padding: 0 0 0 30px;
}
#managment .box-hover,
#about .box-hover,
#sumatiteam .box-hover {
  width: 300px;
  background: rgba(0, 0, 0, 0.79);
  height: auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 15px;
  padding: 10px 10px 5px 10px;
}
@media (max-width: 980px) {
  #managment .box-hover,
  #about .box-hover,
  #sumatiteam .box-hover {
    position: relative;
    left: 0;
    bottom: 64px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #managment .box-hover,
  #about .box-hover,
  #sumatiteam .box-hover {
    width: 278px;
  }
}
@media (max-width: 360px) {
  #managment .box-hover,
  #about .box-hover,
  #sumatiteam .box-hover {
    width: 284px;
  }
}
@media (max-width: 320px) {
  #managment .box-hover,
  #about .box-hover,
  #sumatiteam .box-hover {
    width: 230px;
  }
}
#managment .box-hover span.text-uppercase,
#about .box-hover span.text-uppercase,
#sumatiteam .box-hover span.text-uppercase {
  font-family: "Dax-Regular";
  font-size: 14px;
  color: #fff;
}
#managment .box-hover p,
#about .box-hover p,
#sumatiteam .box-hover p {
  font-family: "Dax-Bold";
  font-size: 12px;
  color: #fff;
}
@media (max-width: 980px) {
  #managment .member,
  #about .member,
  #sumatiteam .member {
    height: 315px;
  }
  #managment .member img,
  #about .member img,
  #sumatiteam .member img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 360px) {
  #managment .member,
  #about .member,
  #sumatiteam .member {
    height: 290px;
  }
}
@media (max-width: 320px) {
  #managment .member,
  #about .member,
  #sumatiteam .member {
    height: 260px;
  }
}
#managment .bg-himalaya,
#about .bg-himalaya,
#sumatiteam .bg-himalaya {
  background: url("../images/himalaya-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#managment .bg-sumati-team,
#about .bg-sumati-team,
#sumatiteam .bg-sumati-team {
  background: url("../images/team-background.jpg") no-repeat;
  background-size: cover;
  background-position: center 30%;
}
#managment .image-small,
#about .image-small,
#sumatiteam .image-small {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
#managment .icon-text-box,
#about .icon-text-box,
#sumatiteam .icon-text-box {
  margin: 230px 0 240px 0;
}
#managment .icon-text-box .col-md-4,
#about .icon-text-box .col-md-4,
#sumatiteam .icon-text-box .col-md-4 {
  margin: 20px 0 30px 0;
}
#managment .icon-text-box .col-md-4 span,
#about .icon-text-box .col-md-4 span,
#sumatiteam .icon-text-box .col-md-4 span {
  color: #fff;
  font-family: 'Dax-Bold';
  font-size: 20px;
}
#managment .icon-text-box .col-md-4 p,
#about .icon-text-box .col-md-4 p,
#sumatiteam .icon-text-box .col-md-4 p {
  color: #fff;
  font-family: 'Dax-Regular';
  font-size: 16px;
}
#managment .icon-text-box .col-md-4 p.commited-integrity,
#about .icon-text-box .col-md-4 p.commited-integrity,
#sumatiteam .icon-text-box .col-md-4 p.commited-integrity {
  padding-left: 32px;
}
#managment .icon-text-box .col-md-4 .glyphicon.glyphicon-plus,
#about .icon-text-box .col-md-4 .glyphicon.glyphicon-plus,
#sumatiteam .icon-text-box .col-md-4 .glyphicon.glyphicon-plus {
  font-size: 30px;
  color: #0CB8E8;
  vertical-align: 2px;
  margin-right: 15px;
}
#managment .icon-text-box .col-md-4 .col-md-12 p,
#about .icon-text-box .col-md-4 .col-md-12 p,
#sumatiteam .icon-text-box .col-md-4 .col-md-12 p {
  color: white;
}
#managment .icon-text-box.team-box,
#about .icon-text-box.team-box,
#sumatiteam .icon-text-box.team-box {
  margin: 290px 0 290px 0;
}
@media (max-width: 992px) {
  #managment .icon-text-box.team-box .col-md-4,
  #about .icon-text-box.team-box .col-md-4,
  #sumatiteam .icon-text-box.team-box .col-md-4 {
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 767px) {
  #managment .icon-text-box.team-box,
  #about .icon-text-box.team-box,
  #sumatiteam .icon-text-box.team-box {
    padding: 0;
  }
  #managment .icon-text-box.team-box .col-md-4,
  #about .icon-text-box.team-box .col-md-4,
  #sumatiteam .icon-text-box.team-box .col-md-4 {
    padding: 0;
  }
}
@media (max-width: 992px) {
  #managment .icon-text-box,
  #about .icon-text-box,
  #sumatiteam .icon-text-box {
    padding: 0;
  }
  #managment .icon-text-box .col-md-4,
  #about .icon-text-box .col-md-4,
  #sumatiteam .icon-text-box .col-md-4 {
    padding: 0;
  }
}
@media (max-width: 767px) {
  #managment .icon-text-box,
  #about .icon-text-box,
  #sumatiteam .icon-text-box {
    padding: 0;
  }
  #managment .icon-text-box .col-md-12,
  #about .icon-text-box .col-md-12,
  #sumatiteam .icon-text-box .col-md-12 {
    padding: 0;
  }
}
#managment .talent-box,
#about .talent-box,
#sumatiteam .talent-box {
  padding: 0 15px 0 0;
}
@media (max-width: 980px) {
  #managment .talent-box,
  #about .talent-box,
  #sumatiteam .talent-box {
    padding: 0 15px 0 15px;
  }
}
#about .sumati-logo-container {
  padding: 0 0 0 30px;
}
@media (max-width: 992px) {
  #about .sumati-logo-container {
    padding: 0 0 0 15px;
  }
}
#contact .dropdown-menu.about,
#contact .dropdown-menu.about-contact,
#contact .dropdown-menu.about-risk {
  left: -140px;
  width: 260px;
}
#contact .dropdown-menu.about > li > a,
#contact .dropdown-menu.about-contact > li > a,
#contact .dropdown-menu.about-risk > li > a {
  font-family: 'Dax-Regular';
  font-size: 14px;
  color: #000;
}
#contact .dropdown-menu.about > li > a:hover,
#contact .dropdown-menu.about-contact > li > a:hover,
#contact .dropdown-menu.about-risk > li > a:hover,
#contact .dropdown-menu.about > li > a:focus,
#contact .dropdown-menu.about-contact > li > a:focus,
#contact .dropdown-menu.about-risk > li > a:focus {
  font-family: Dax-Bold;
  color: #000;
}
@media (max-width: 768px) {
  #contact .dropdown-menu.about,
  #contact .dropdown-menu.about-contact,
  #contact .dropdown-menu.about-risk {
    left: 16px;
    width: 160px;
  }
}
#contact .dropdown-menu.about-risk {
  left: -66px;
}
@media (max-width: 768px) {
  #contact .dropdown-menu.about-risk {
    left: 16px;
    width: 240px;
  }
}
#contact h3,
#contact h4,
#contact span,
#contact p {
  color: #000;
}
#contact h3 {
  font-size: 30px;
  font-family: "Dax-Regular";
  color: #0CB8E8;
  margin-bottom: 50px;
  margin-top: 50px;
}
#contact h3 sup {
  font-size: 18px;
}
#contact h4 {
  margin-top: 20px;
  font-family: "Dax-Bold";
  font-size: 18px;
}
#contact p {
  font-size: 18px;
}
#contact p.general {
  font-size: 21px;
}
#contact a.link-info {
  font-weight: bold;
  color: #000;
}
@font-face {
  font-family: 'Dax-Bold';
  src: url('../fonts/Dax-Bold/Dax-Bold2.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Dax-Regular';
  src: url('../fonts/Dax-Regular/Dax-Regular2.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Dax-Medium';
  src: url('../fonts/Dax Med/Dax-Medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
body {
  padding-top: 120px;
}
.nav > li > a {
  padding-top: 0;
}
.navbar-default {
  margin-bottom: 15px;
}
.navbar-default {
  background: #0CB8E8;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
@media (max-width: 360px) {
  .navbar-nav {
    margin: 7.5px -35px;
  }
}
@media (max-width: 980px) {
  .navbar-nav.main-navbar > li > a {
    clear: both;
  }
}
.navbar-nav.main-navbar {
  float: right;
}
.navbar-nav.main-navbar > li {
  margin-right: 25px;
}
.navbar-nav.main-navbar > li > a {
  color: #fff;
  font-family: 'Dax-Regular';
  font-size: 16px;
  outline: medium none;
}
.navbar-nav.main-navbar > li > a::after {
  position: absolute;
  top: 82%;
  left: 16px;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.navbar-nav.main-navbar > li > a:hover::after {
  outline: none;
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.navbar-nav.main-navbar > li.dropdown.open > a.dropdown-toggle {
  color: #fff;
  font-family: 'Dax-Regular';
  font-size: 16px;
  background: none;
}
.navbar-nav.main-navbar > li .dropdown-menu {
  left: 15px;
}
@media (max-width: 768px) {
  .navbar-nav.main-navbar > li .dropdown-menu {
    background: #fff;
    position: relative;
  }
}
.navbar-nav.main-navbar > li .dropdown-menu > li > a {
  font-family: 'Dax-Regular';
  font-size: 14px;
  color: #000;
}
.navbar-nav.main-navbar > li .dropdown-menu > li > a:hover,
.navbar-nav.main-navbar > li .dropdown-menu > li > a:focus {
  font-family: Dax-Bold;
}
.navbar-nav.main-navbar > li:nth-child(1) > a::after {
  width: 38px;
}
.navbar-nav.main-navbar > li:nth-child(2) > a::after {
  width: 85%;
}
.navbar-nav.main-navbar > li:nth-child(3) > a::after {
  width: 38px;
}
.navbar-nav.main-navbar > li:nth-child(4) > a::after {
  width: 48px;
}
@media (max-width: 980px) {
  .navbar-nav.main-navbar {
    margin: 20px 0 0 0;
  }
}
.col-md-12.box-blue {
  background: #0CB8E8;
  padding-bottom: 70px;
  padding-top: 30px;
}
.sumati-logo-container {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .sumati-logo-container {
    padding-left: 30px;
  }
}
h1,
h4,
p,
.col-md-12,
.col-md-4 {
  color: #fff;
}
h1 {
  font-family: 'Dax-Regular';
  font-size: 44pt;
  margin: 40px 0 40px 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
}
h4 {
  font-family: 'Dax-Bold';
  font-size: 14px;
  margin-top: 40px;
}
p,
.col-md-9,
.col-md-7,
.col-md-6 {
  font-family: 'Dax-Regular';
  font-size: 19px;
}
span.glyphicon-plus {
  margin-right: 10px;
  vertical-align: 1px;
}
.rounded-box-white,
.rounded-box-whitesmoke {
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;
  padding: 20px 30px 20px 30px;
  margin: 150px 0 30px 0;
}
@media (max-width: 768px) {
  .rounded-box-white {
    padding: 15px;
  }
}
.rounded-box-whitesmoke {
  border: 1px solid #EFEFEF;
  background: #EFEFEF;
  padding: 0 30px 0 30px;
  margin: 60px 0 150px 0;
}
.col-md-12.box-white {
  background: #fff;
}
.col-md-12.paper {
  background: url("../images/paper.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.col-md-12.support-team {
  background: url("../images/woman-professional.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.box-logo-container {
  padding: 0 0 0 60px;
}
@media (max-width: 980px) {
  .box-logo-container {
    padding: 0;
  }
  .box-logo-container img {
    display: block;
    margin: auto;
  }
}
section#reducerisk .col-md-6 p:nth-child(3) {
  font-family: 'Dax-Bold';
  font-size: 16px;
  margin: 40px 0 50px 0;
}
section#reducerisk .box-img-circles {
  margin: 40px 0 40px 0;
}
section#reducerisk .box-img-circles img {
  display: block;
  margin: auto;
}
@media (max-width: 980px) {
  section#reducerisk .box-text-clm-platforms {
    padding: 0;
  }
}
section#reducerisk span {
  font-family: 'Dax-Regular';
  font-size: 21px;
}
section#reducerisk span.glyphicon-plus {
  font-size: 21px;
}
section#discover h1 {
  margin: 40px 0 10px 0;
}
section#discover h4.data {
  color: #0CB8E8;
  font-family: 'Dax-Bold';
  font-size: 18px;
  margin: 0 0 20px 0;
}
section#discover .col-md-10 {
  color: #000;
  font-family: 'Dax-Regular';
  font-size: 16px;
}
section#discover .rounded-box-white {
  padding: 20px 0 20px 40px;
}
@media (max-width: 980px) {
  section#discover .rounded-box-white {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  section#discover .rounded-box-white {
    margin: 100px 0 60px 0;
  }
}
section#discover .margin-left-box {
  margin-left: 11%;
}
@media (max-width: 980px) {
  section#discover .margin-left-box {
    margin-left: 0;
  }
}
section#discover .box-blue-border {
  border: 1px solid #0CB8E8;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}
section#discover span {
  color: #0CB8E8;
  font-family: 'Dax-Regular';
  font-size: 16px;
}
section#delegate h1,
section#ultimate h1 {
  color: #0CB8E8;
}
section#delegate h4,
section#ultimate h4,
section#delegate p,
section#ultimate p,
section#delegate span,
section#ultimate span,
section#delegate .col-md-7,
section#ultimate .col-md-7,
section#delegate .col-md-10,
section#ultimate .col-md-10 {
  color: #000;
}
section#delegate .col-md-10,
section#ultimate .col-md-10 {
  font-family: 'Dax-Bold';
  font-size: 16px;
}
section#delegate .icon-plus-text-container,
section#ultimate .icon-plus-text-container {
  margin: 20px 0 0 0;
}
section#delegate span,
section#ultimate span {
  font-family: 'Dax-Bold';
  font-size: 16px;
}
section#delegate span.glyphicon-plus,
section#ultimate span.glyphicon-plus {
  color: #0CB8E8;
  font-weight: bold;
}
section#delegate .col-md-4,
section#ultimate .col-md-4 {
  margin: 20px 0 30px 0;
}
section#delegate .col-md-4 p,
section#ultimate .col-md-4 p {
  padding-left: 18px;
  font-family: 'Dax-Regular';
  font-size: 16px;
}
section#delegate .col-md-3.box-image,
section#ultimate .col-md-3.box-image {
  margin: 0;
  padding-top: 5px;
}
section#delegate .col-md-3.box-image .img-rounded,
section#ultimate .col-md-3.box-image .img-rounded {
  border-radius: 20px;
  height: 220px;
  width: 100%;
}
@media (max-width: 980px) {
  section#delegate .col-md-3.box-image .img-rounded,
  section#ultimate .col-md-3.box-image .img-rounded {
    display: block;
    margin: 0;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  section#delegate .col-md-3.box-image,
  section#ultimate .col-md-3.box-image {
    margin-bottom: 40px;
  }
}
section#delegate ul.list-unstyled,
section#ultimate ul.list-unstyled {
  margin: 20px 0 70px 0;
}
section#delegate ul.list-unstyled > li,
section#ultimate ul.list-unstyled > li {
  margin-bottom: 10px;
}
section#delegate ul.list-unstyled > li > span,
section#ultimate ul.list-unstyled > li > span {
  color: #0CB8E8;
  font-family: 'Dax-Medium';
  font-size: 16px;
}
@media (max-width: 980px) {
  section#delegate .col-md-4:not(:first-child) {
    padding: 0;
  }
}
section#deepexp .col-md-12.box-blue {
  padding: 0 0 100px 0;
  position: relative;
}
section#deepexp .col-md-4.logos-panel {
  padding: 20px 0 20px 30px;
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 100px;
  right: 0;
}
section#deepexp .col-md-4.logos-panel img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 980px) {
  section#deepexp .col-md-4.logos-panel {
    position: relative;
    top: 50px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  section#deepexp .col-md-4.logos-panel {
    padding: 20px 30px 20px 40px;
  }
}
@media (min-width: 320px) and (max-width: 1280px) {
  section#deepexp .col-md-4.logos-panel {
    padding: 20px 40px 20px 40px;
  }
}
section#deepexp .icon-plus-text-container {
  margin: 80px 0 0 0;
}
section#deepexp span {
  color: #000;
  font-family: 'Dax-Bold';
  font-size: 16px;
}
section#deepexp span.glyphicon-plus {
  color: #fff;
  font-weight: bold;
}
section#deepexp .col-md-4 p {
  color: #000;
  font-family: 'Dax-Regular';
  font-size: 16px;
  padding-left: 20px;
}
section#deepexp .col-md-4.apptus {
  padding: 0 15px 0 0;
}
@media (max-width: 980px) {
  section#deepexp .col-md-4.apptus {
    padding: 0 15px 0 15px;
  }
}
section#support h1 {
  color: #0CB8E8;
}
section#support .icon-box {
  margin-top: 80px;
}
section#support .col-md-4 {
  padding: 0 0 0 15px;
}
section#support .col-md-4 p {
  color: #000;
  font-family: 'Dax-Regular';
  font-size: 16px;
  padding-left: 20px;
}
section#support span {
  color: #0CB8E8;
  font-family: 'Dax-Bold';
  font-size: 16px;
}
section#support span.glyphicon-plus {
  font-weight: bold;
}
