meta(charset="utf-8")
meta(name="author", content=domain)
meta(name="application-name", content="index")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="Top rated 10% Upwork HTML5, CSS3, Jade, Javascript and Django templates web developer")
meta(name="keywords", content="960grid, adaptive, ajax, angular, bootstrap, css, css3, code, developer, design, django, flat, foundation, framework, freelancer, frontend, git, github, hg, html, html5, jquery, javascript, jade, jinja2, landing, layout, less, mobile, nodejs, nginx, oDesk, parallax, photoshop, project, psd, responsive, sass, sketch, stylesheet, twitterbootstrap, template, ui, userinterface, userexperience, upwork, web")