style(rel='stylesheet').
    BODY {
        color: #A0C0D1;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        background: linear-gradient(#596C8D, #1d557d 50%, #082e55);
        background-size: 100% auto;
        overflow-x: hidden;
    }
    A { color: #B3E9FF99 } A:hover { color: #B3E9FF }
    .container#container { padding: 15px; min-height: calc(100vh - 60px) }
    footer { text-align: center }
    .row-inline > A { text-transform: uppercase; }
    .row-inline { text-align: center; padding: 10px 0; }
    .row-inline h1,h2,h3,h4,h5,h6 { color: #B3E9FF }
    .row-inline blockquote {
        max-width: 320px;
        padding: 0 18px;
        margin: 0;
        font-size: larger;
        border-left: 5px solid #85D6FF;
    }
    .row-inline table { margin: auto; max-width: 768px }
    .row-inline table td:first-child { color: #85D6FF }
    .row-inline table td { padding: 32px 12px }