.row
    nav.col-md-4.col-md-offset-4.col-xs-12.text-center.flag-language
        a(href="http://ane4k.in")
            img(src="images/flag-russian.svg", alt="russian site", title="russian", width="48px")
            span(data-hover="RUSSIAN") RUSSIAN