.container.parallax_container
    .design-copy Menangen design
    ul#scene
        li.layer(data-depth="0.00"): img.cloud_layer(:src="layer5Src")
        li.layer(data-depth="0.10"): img.cloud_layer(:src="layer1Src")
        li.layer(data-depth="0.30"): img.cloud_layer.cloud_two(:src="layer2Src")
        li.layer(data-depth="0.60"): img.cloud_layer.cloud_three(:src="layer3Src")
        li.layer(data-depth="1.00"): img.cloud_layer.cloud_four(:src="layer4Src")