- var groupsAttributes = {"v-for": "couple in group"}
.row&attributes(groupsAttributes)

    - var coupleAttributes = {"v-for": "project in couple"}
    .col-md-6.col-sm-6.project&attributes(coupleAttributes)

        - var projectLink = {":href": "project.href"}
        a.bordered-block&attributes(projectLink)
            .row
                .col-md-12.project-header-container.text-center


                    .header-top
                        span.link
                            i.icon-login
                        - var VueAttributes = {"v-text": "project.name"}
                        span.text&attributes(VueAttributes)

                    i.icon.icon-calendar-empty
                    span.project-info Duration:
                        - var VueAttributes = {"v-text": "project.time"}
                        span.value&attributes(VueAttributes)

                    i.icon.icon-flag
                    span.project-info Task:
                        - var VueAttributes = {"v-text": "project.task"}
                        span.value&attributes(VueAttributes)

            .row
                .col-md-4.col-sm-12.project-thumbnail
                    .row
                        .col-md-12

                            - VueAttributes = {":src": "project.image"}
                            img.center-block.img-responsive&attributes(VueAttributes)

                    .row.center-block
                        .col-md-12.col-sm-12.col-xs-12.tags-container

                            - VueAttributes = {"v-for": "tag in project.tags"}
                            .tag.text-center&attributes(VueAttributes)

                                - VueAttributes = {"v-text": "tag"}
                                span.label.label-tag&attributes(VueAttributes)

                - var VueAttributes = {"v-html": "project.description"}
                .col-md-8.col-sm-12.description&attributes(VueAttributes)