template#tag-template
    a(
    :class="{'open': tags[tagname]}",
    :href="'#'+tagname",
    @mouseover="mouseOver",
    @mouseout="mouseOut",
    @click="click")

        - var size = 96

        img(
        :class="lessClass", alt="{{* tagname}}", title="{{* tagname}}"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",
        width="#{size}px", height="#{size}px"
        )