extends ../base.jade
block title
    title Imobo | Anya Novikova

block portfolio-thumb
    .row.text-center
        span.portfolio-header Imobo

block about-project
    ul

        //- li
            a(href="http://git-scm.com/about") Git
        li
            a(href="https://github.com/anechka") Github

        li
            a(href="http://nodejs.org") NodeJS
        li
            a(href="http://jade-lang.com/") Jade template engine
        li
            a(href="http://lesscss.org/features/") LESS

        li
            a(href="http://getbootstrap.com/") Bootstrap | 3
        li
            span Portuguese ISO 639-1 Language

    p.col-md-12 This is site for buying and selling real estate.

block about-team
    p
        | In this project i contacted with my main manager from&nbsp
        strong Brazil.

        br
        | Also i communicated with Javascript developer.

        br
        | I&nbsp
        a(href="http://www.jetbrains.com/webstorm/") developed Jade(HTML) / LESS(CSS) with Webstorm tool.

        br
        | We used&nbsp
        a(href="https://www.odesk.com/o/profiles/users/_~01ffe04a2db9f8b16a/") oDesk
        | &nbspand e-mail communication, Skype.

block my-role
    p.col-md-12
        | This site based on NodeJS and Jade template engine, Twitter Bootstrap as a grid based CSS framework
        | and LESS as main CSS preprocessor.

        | When i worked with project's repo i used&nbsp
        a(href="http://git-scm.com/about") GIT version control system.

        | &nbspFor source code of this project was created private repo on&nbsp
        a(href="https://github.com/anechka") Github.
        | &nbspI used&nbsp

        a(href="https://www.sourcetreeapp.com") SourceTree
        | &nbspfor pushing and pulling code.
        | I worked near 2 weeks with this project and developed many Jade pages with LESS code.

    ul(style="display: inline-block")

        li Near 11 Jade files.
        li Near 11 LESS files.
        li Login page.
        li 2 pages form registration.
        li 4 pages for work with e-mails.
        li 2 pages for selecting real estate.
        li Google Ads page.
        li Main&nbsp
            a(href="imobo-page.html") site page
            | .

block result
    p.col-md-12
        | After 2 weeks i completed project and main goal was
        u coding Jade pages with LESS&nbsp
        | under Twitter Bootstrap.
        br
        | My Brazil manager quote:
    blockquote
        | "Anya did a great job using bootstrap. I'll work with her again soon".
    p.col-md-12
        | On this work i increased my Jade and LESS skills.

block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="imobo-page.html")
                img.img-thumbnail(src="../../images/portfolio-thumb/imobo-page.png", alt="Imobo page example")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.fa.fa-link
                    | Browse Imobo page
        .col-md-6
            a.thumbnail(href="marketing-form-page.html")
                img.img-thumbnail(src="../../images/portfolio-thumb/imobo-marketing-page.png", alt="Imobo page example")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.fa.fa-link
                    | Browse marketing form page
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/imobo-project/blob/master/jade/index.jade")
                img.img-thumbnail(src="../../images/portfolio-thumb/jade-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.fa.fa-github-alt
                    | Show Imobo page Jade code
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/imobo-project/blob/master/jade/email_marketing_form.jade")
                img.img-thumbnail(src="../../images/portfolio-thumb/jade-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.fa.fa-github-alt
                    | Show marketing form Jade
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/imobo-project/blob/master/less/main.less")
                img.img-thumbnail(src="../../images/portfolio-thumb/less-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.fa.fa-github-alt
                    | Show index page LESS
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/imobo-project/blob/master/less/email_marketing_form.less")
                img.img-thumbnail(src="../../images/portfolio-thumb/less-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.fa.fa-github-alt
                    | Show marketing LESS