extends ../base.jade
block title
    title Imobo | Anna Novikova
block portfolio-thumb
    .row.text-center
        span.portfolio-header Imobo
block about-project
    ul
        li
            kbd text
        li
            a(href="http://git-scm.com/about") Git
        li
            a(href="http://nodejs.org") text
        li
            a#jade(href="http://jade-lang.com/") Jade template engine
        li
            a#less(href="http://lesscss.org/features/") LESS

        li
            a(href="http://getbootstrap.com/css/") Bootstrap | 3

    p.col-md-12
        | This is site for buying and selling real estate.

block about-team
    p
        | On this work i contacted with my main manager from
        strong  Brazil.
        br
        | I
        a(href="http://www.jetbrains.com/webstorm/")    programmed html/css with Webstorm tool
        |   and
        strong  LESS.
        br
        | We used
        a(href="https://www.odesk.com/o/profiles/users/_~01ffe04a2db9f8b16a/")    oDesk
        |   and e-mail communication with Skype.

block my-role
    p.col-md-12
        | This site based on NodeJS and Jade template engine also used LESS as main CSS preprocessor
        | and Twitter Bootstrap as grid based CSS framework.
        | When i worked with project"s repo i used
        a(href="http://git-scm.com/about")  GIT version control system

        |   text
        | I worked near 2 weeks with this project and developed Jade pages with many LESS code.

    ul(style="display: inline-block")

        li
            | text
        li
            | text
        li
            | text
        li
            | text

        li
            | text
        li
            | text

block result
    p.col-md-12
        | After 2 weeks i completed project and main goal was
        u converting inline CSS styles to LESS
        |   under Twitter Bootstrap.
        br
        | My Brazil manager quote:
    blockquote
        | "text".
    p.col-md-12
        | text

block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="images/compose-page.jpg")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-page.png", alt="main page of conclave")
                br
                button.btn.btn-primary.btn-block(type="button")
                    | Main page screenshot
        .col-md-6
            a.thumbnail(href="images/less_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/market-less.png", alt="...")
                br
                button.btn.btn-primary.btn-block.less-button(type="button") Show LESS screenshot
        .col-md-6
            a.thumbnail(href="images/js_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/premiumparts-js.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button") Show JS screenshot
        .col-md-6
            a.thumbnail(href="images/sass_1_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-sass.png", alt="Admin panel")
                br
                button.btn.btn-primary.btn-block.sass-button(type="button")
                    | Show
                    b   1
                    |   SASS screenshot
        .col-md-6
            a.thumbnail(href="images/sass_2_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-sass.png", alt="Admin panel")
                br
                button.btn.btn-primary.btn-block.sass-button(type="button")
                    | Show
                    b   2
                    |   SASS screenshot
        .col-md-6
            a.thumbnail(href="images/jade_1_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-jade.png", alt="Admin panel")
                br
                button.btn.btn-primary.btn-block.jade-button(type="button")
                    | Show
                    b   1
                    |   Jade screenshot
        .col-md-6
            a.thumbnail(href="images/jade_2_code_optimized.png")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-jade.png", alt="Admin panel")
                br
                button.btn.btn-primary.btn-block.jade-button(type="button")
                    | Show
                    b   2
                    |   Jade screenshot