/* Webfont: Dax-Medium */@font-face {
    font-family: 'DaxMed';
    src: url('Dax-Medium.eot'); /* IE9 Compat Modes */
    src: url('Dax-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Dax-Medium.woff') format('woff'), /* Modern Browsers */
         url('Dax-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Dax-Medium.svg#Dax-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

