extends ../base.jade

block title
    title Premium Parts: online e-commerce marketplace Django, HTML5, Bootstrap 3, jQuery and LESS project | Anya Novikova

block portfolio-thumb
    .row.text-center
        span.portfolio-header Premium Parts
        a.site-link(href="../../index.html")
            span #{www}

block about-project
    ul
        li
            a(href="https://www.mercurial-scm.org", target="_blank") Mercurial Hg
        li
            a(href="https://www.python.org", target="_blank") Python
        li
            a(href="https://www.djangoproject.com", target="_blank") Django template engine | HTML

        li
            a(href="http://getbootstrap.com/css", target="_blank") Bootstrap 3

        li
            a(href="http://jquery.com/", target="_blank") jQuery

        li CSS3 responsive

    p.col-md-12 This is a e-commerce Marketplace Online project for selling auto-motors, tools and equipment.

block about-team
    p
        | It consisted of: i worked as Web-developer, 1 project manager, Web-designer and Python developer.
        | I liked professionalism and good teamwork.

block my-role

    p.col-md-12
        | This e-commerce site based on Django and Scrapy, i used my knowledge of Django template system.
        | When i worked with the team, i used my experience in the usage of the&nbsp
        a(href="http://mercurial.selenic.com", target="_blank") distributed version control system - Mercurial
        | .&nbspI worked 3 months under this project and coded main page for client area and administrative panel:

    ul(style="display: inline-block")
        li Equipment movement in the Storage
        li Client Billing
        li Clients Orders Management
        li Client Items Management in MySQL database | CRUD
        li Marketplace and Manager Billing

block result

    p.col-md-12
        | We worked for three month.
        | Work was hard, but we met the deadline.
        | Our customer appreciated result of our work by saying:

    blockquote
        | "Guys, i think users of my e-commerce site will be happy, so what is good for them is good for me.
        | Good job!".

    p.col-md-12
        | During this time i grown professionally.
        | I increased my knowledge and improved skills.
        | I got a good experience and positive emotions, when i worked with them.

block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="adminka_en/adminka_en.html", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/premiumparts-adminka.png", alt="Admin panel")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.icon-logout
                    | Browse Orders page
        .col-md-6
            a.thumbnail(href="adminka_en/clients_en.html", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/premiumparts-clients.png", alt="Clients panel")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.icon-logout
                    | Browse Clients page
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/premium-parts/tree/master/css", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/css-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Browse CSS from project
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/premium-parts/tree/master/js", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/js-code.png", alt="...")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Browse JS from project

