/* Webfont: Dax-Bold2 */@font-face {
    font-family: 'Dax-Bold';
    src: url('Dax-Bold2.eot'); /* IE9 Compat Modes */
    src: url('Dax-Bold2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Dax-Bold2.woff') format('woff'), /* Modern Browsers */
         url('Dax-Bold2.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Dax-Bold2.svg#Dax-Bold2') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

