{% raw %}# Created by Punko <Punkoivan@yandex.ru> on 16.02.16
---
- name: installing Nginx and deploy site from git
  hosts: all
  roles:
   - sitedeploy
{% endraw %}
{% if need_sudo %}  become: yes{% endif %}
{% raw %}# Comment next string if you ssh into host as root.
{% endraw %}