.feedback
    .row
        .col-md-12.text-center
            h1 Work Feedback
    .row
        .col-md-12.text-center
            table

                tr
                    td
                        span
                            i.icon-ok-squared
                            | Sketch to Bootstrap
                    td
                        blockquote Best contractor I have worked with through Upwork


                tr
                    td
                        span
                            i.icon-ok-squared
                            | Converting PSD's to Responsive Bootstrap Template
                    td
                        blockquote Well structured, good quality code, very happy with Anya's work!


                tr
                    td
                        span
                            i.icon-ok-squared
                            | UI/UX Bootstrap Design Consultant
                    td
                        blockquote One of the best contractor experiences I've had on Upwork. She does a fantastic job, is easy & pleasant to work with, and delivers quality work on schedule. She is the first person I would go to for css/html5/bootstrap design work. I recommend her without reservation, other than I hope she doesn't get so busy we can't hire her again :-)