.header_clouds {
    background-image: url(../../images/clouds_layer_4.png);
    background-size: 100%;
    background-position: 800% 0;
    background-repeat: repeat-x;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: -1;

}

.header_container {
    text-align: center;
}

span.portfolio-header {
    font-size: 52px;
    font-family: "Days", sans-serif;
}
/* Main div in the middle */
.description-content{
    border-radius: 2px;
    background-image: url(../../images/background_dots.png);
    color: #223952;
    -webkit-box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.255);
    box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.255);
    margin-top: 20px;
}

.description-content h1, h2, h3, h4 {
    color: #333;
    margin-left: 12px;
}
/* Text in the left side of the main dotted div */
.description-content p {
    padding: 6px 12px;
    background: #C3DAF8;
    border-color: #234e73;
}

/* A tag in the description text area */
.description-content p > a {
    color: #006b98;
    background: #b6d6ff;
}

.description-content p > a:hover {
    color: #2B8473;
    background: #C3DAF8;
}

.description-content ul {
    list-style-type: square;
}

.description-content ul > li > a {
    color: #0071a0;
    background: #c9e4ff;
}

.description-content ul > li > a:hover {
    color: #2B8473;
    background: #cef3df;
}

.description-content blockquote {
    background-color: #ACC9E6;
    border-color: #627895;
    color: #205166;

    margin: 0;
}

.description-project {
    display: table-cell;
    float:none;
    vertical-align:top;
}

.description-project .glyphicon{
    top: 2px;
    padding-right: 3px;
}

.description-project ul .glyphicon{
    top: 0;
    left: 3px;

    color: #493A7A;
    font-size: 10px;
}

.images-a-content {
    border-radius: 2px;
    padding: 4px 0;
    background-color: #FFF;
    display: table-cell;
    float:none;
    vertical-align:top
}

.thumbnail {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
    border: none;
    background: none;
    border-radius: 0;
}

/* This is <a> tag */
.thumbnail > .caption {
    font-size: 16px;
    color: #7c828a;
    text-align: center;
    padding: 4px;
}

.thumbnail:hover, .thumbnail:active, .thumbnail:visited {
    text-decoration: none;
}

.img-thumbnail {
    width: 200px;
    -webkit-box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.22);
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.22);
}

.btn-site-link {
    color: #FFF;
    background-color: #00A5FF;
    border-color: #00A5FF;

    font-weight: bold;
}

.btn-site-link:hover {
    color: #655647;
    background-color: #FCD634;
    border-color: #FCD634;
}

.btn-success {
    color: #134400;
}

.btn-success:hover {
    background-color: #3eb800;
    border-color: #3eb800;
    color: #005500;
}

.btn-primary {
    color: #8BACEE;
    font-weight: bold;
    background-color: #493A7A;

    border-color: #493A7A;
}

.btn-primary:hover {
    color: #372d7a;

    background-color: #aca9e0;
    border-color: #8c7df2;
}


.btn-warning {
    color: #c8ae8a;
    font-weight: bold;
    background-color: #FFF;
    border-color: #d4c5a4;
}

.btn-warning:hover {
    background-color: #e2cb95;
    border-color: #e2cb95;
    color: #7c6f52;
}

/* Font Awesome icons */
.images-a-content .btn i.fa {
    margin-right: 4px;
}

.warning-text {
    color: #FF7F00;
}

/* iPhone screen / smartphones */

@media (max-width: 480px) {

    .description-project {
        display: block;
        float:none;
        vertical-align:top;
    }

    .images-a-content {
        display: block;
    }



}

@media (min-width: 481px) and (max-width: 1200px) {

    .header_clouds {
        background-size: 220%;
    }

}

@media (max-width: 480px) {

    .header_clouds {
        background-size: 320%;
    }

}