doctype html
html
    head(lang="en")
        block title

        meta(charset="UTF-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        link(rel="stylesheet", href="../../css/main.css")
        link(rel="stylesheet", href="../../css/portfolio/portfolio-index.css")

    body(style="background-color: #1c456f; color: white;")
        .header_clouds
        .header_container
            a(href="http://anya.site")
                img(src="../../images/avatar.png", alt="Photo", title="Anya Novikova")

        .container

            block portfolio-thumb


            .row.description-content
                .col-md-6.description-project
                    .row
                        h3
                            span.glyphicon.glyphicon-briefcase
                            | About project

                        block about-project

                        h4 A little bit about the team.

                        block about-team

                    .row
                        h3 My role

                        block my-role

                    .row
                        h3 Result

                        block result

                block images-content


        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js", defer="defer")
        // Animation JavaScript
        script(type="text/javascript", src="../../js/controller.js", async="async")
        script(type="text/javascript", src="../../js/portfolio/animation_controller.js", async="async")
        script(type="text/javascript", src="../../js/portfolio/main.js", defer="defer")
        script(type="text/javascript", src="../../js/portfolio/text_mouseover_handler.js", defer="defer")
        //- Google Analytics script
        script(type='text/javascript').
            window._gaq = window._gaq || [];
            window._gaq.push(['_setAccount', 'UA-50636137-1']);
            window._gaq.push(['_trackPageview']);
        script(type="text/javascript", src="http://www.google-analytics.com/ga.js", async="async")