server {
	listen 80;

	# Make site accessible from http://anya.site/
	server_name anya.site;

	root {{ site_root_dir }};
	index index.html index.htm;

	# deny access to .jade files
	#
	location /jade {
		deny all;
	}

	# serve static files directly
	location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt|svg|otf|ttf)$ {
		access_log	off;
		expires		1w;
	}
}
