/* Webfont: LubalinGraph-Book */@font-face {
    font-family: 'LubalinGraph';
    src: url('LubalinGraph-Book.eot'); /* IE9 Compat Modes */
    src: url('LubalinGraph-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LubalinGraph-Book.woff') format('woff'), /* Modern Browsers */
         url('LubalinGraph-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LubalinGraph-Book.svg#LubalinGraph-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

