extends ../base.jade
block title
    title ConversionHammer | Anya Novikova
block portfolio-thumb
    .row.text-center
        span.portfolio-header ConversionHammer
        a.site-link(href="../../index.html")
            span #{www}

block about-project
    ul
        li
            a(href="http://jade-lang.com/", target="_blank") Jade template engine
        li
            a(href="http://lesscss.org/features/", target="_blank") LESS
        li
            a(href="http://getbootstrap.com/css/", target="_blank") Bootstrap | 3

    p.col-md-12 ConversionHammer is a contact form for lead-generation businesses to instantly convert more sales leads through your website.

block about-team
    p
        | I worked as Less and Jade Developer.

        br
        | My client and i used&nbsp
        a(href="https://www.upwork.com/o/profiles/users/_~01ffe04a2db9f8b16a/", target="_blank") Upwork
        | &nbspand Skype for communication.

block my-role

    p.col-md-12
        | The site based on Jade template engine, Bootstrap 3 as CSS framework and Less as main CSS preprocessor.
        br
        | I&nbsp
        a(href="http://www.jetbrains.com/webstorm/", target="_blank") programmed Jade(HTML) / LESS(CSS) with Webstorm tool.&nbsp
        br
        | I worked near 1 week with this project and developed Jade pages with LESS code.

    ul(style="display: inline-block")
        li Near 2 Jade files
        li Near 2 LESS files
        li
            a(href="hammer-home-page.html", target="_blank") ConversionHammer Home page

block result

    p.col-md-12
        | After 1 week i completed project and main goal was&nbsp
        strong coding Jade pages with LESS&nbsp
        | under Twitter Bootstrap 3.
        br
        | My client's quote:
    blockquote
        | "Best contractor I have worked with through Upwork".
    p.col-md-12
        | During this project i increased my Jade and LESS skills.

block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="hammer-home-page.html", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/hammer-page@2x.png", alt="ConversionHammer Home page example")
                br
                button.btn.btn-site-link.btn-block(type="button")
                    i.icon-logout
                    | Browse Hammer Home page
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/hammer-project/tree/master/src/less", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/less-code.png", alt="Less code")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Show LESS code
        .col-md-6
            a.thumbnail(href="https://github.com/anechka/hammer-project/tree/master/src/jade", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/jade-code.png", alt="Jade code")
                br
                button.btn.btn-primary.btn-block(type="button")
                    i.icon-github-alter
                    | Show Jade code
