doctype html
html(lang="en")
    head
        include inline/meta
        include inline/styles

        title Anna Novikova | Top Upwork Developer, responsive HTML5, Jade, Javascript, Django

    link(rel="icon", href="favicon.ico")

    body
        .container#container
            include inline/feedback
            include inline/communicate

        include inline/footer
        include inline/scripts