BODY {
    background: url("@{images}/background-hd.jpg");
    background-size: cover;
    background-color: #031b43;

    color: white;
    overflow-x: hidden;
    overflow-y: auto;


    @media (max-width: 768px) {
        background-size: auto auto;
        background-image: url("@{images}/background-ipad.jpg");
    }

    @media (max-width: 320px) {
        background-size: auto auto;
        background-image: url("@{images}/background-iphone.jpg")
    }

/*    @media (max-width: 320px) and (min-resolution: 192dpi) {
        background-image: url("@{images}/background-hd.jpg");
    }*/


}

A {
    color: #FF7800;

    &:hover {
        color: #A090E4; text-decoration: none
    }
}