@orange-color: #ff7700;
@gold-color: #C2B196;
@green-grass-color: #6fda44;
@green-light-color: lighten(@green-grass-color, 20%);
@aquamarine-color: #31D4C2;
@aqua-blue-color: #00f1ff;
@blue-color: #0085FF;
@navy-grey-opaque-color: fadeout(#28C2FF, 95%);
@water-light-blue-color: #45809B;
@sky-blue-color: #85D6FF;
@cloud-color: #B3E9FF;
@cloud-rain-color: #98AAC5;
@light-grey-purple-color: #c8c8de;
@light-purple-color: #A090E4;
@fade-purple-color: #57588C;
@body-background-color: saturate(#445566, 25%);
@water-blue-color: #1A3D65;
@dark-navy-bg-color: #0e3256;
@dark-blue-color: #00132F;
@black-opaque-color: fadeout(#000, 96%);
@grey-opaque-color: fadeout(#6A7B7E, 80%);
@white-color: #FFF;