@white-color: #FFF;
@white-opacity-color: rgba(255,255,255, .85);
@orange-color: #ff7700;
@gold-color: #B6A46F;
@green-grass-color: #6fda44;
@cloud-rain-color: rgba(179, 233, 255, 0.6);
@sky-blue-color: #85D6FF;
@sky-light-color: #BFEBFF;
@sky-light-color-saturated: #AFE1FF;
@water-light-blue-color: #45809B;
@water-blue-color: #1A3D65;
@dark-blue-color: #08093B;
@light-purple-color: #A090E4;
@fade-purple-color: #57588C;