.container {
    @import "parallax";

    &.image_container {
        @import "headers";
        @import "tags";

        div.avatar {
            position: relative;

            img.img-avatar {
                .avatar
            }
        }

        .margined-top-div {
            margin-top: @top-margin-for-div;

            @media (max-width: @screen-xs) {
                margin-top: 10px;
                line-height: 2em;
            }

            /* Link to External resources (buttons) */
            &.profiles-content {
                margin-bottom: (@top-margin-for-div * 2); margin-top: (@top-margin-for-div * 2);

                a.external-profile {
                    font-size: 150%;
                    font-weight: bold;

                    border-radius: 8px;
                    padding: 10px;

                    margin-left: 4px;
                    margin-right: 4px;

                    @media (max-width: @screen-xs) {
                        font-size: 80%;
                    }

                    /* oDesk / Upwork */
                    &.odesk-profile {
                        background: url("../images/upwork-profile-link.svg");

                        display: inline-block;
                        vertical-align: middle;

                        width: 254px;
                        height: 81px;

                        &:hover {
                            background: url("../images/upwork-profile-hover.svg");
                        }
                    }

                    /* Github */
                    &.github-profile {
                        color: @cloud-white-color;
                        background: @dark-blue-color;
                        border: 1px solid @dark-blue-color;
                        transition: color 2s ease-in, background 0.5s ease-in-out;

                        &:hover {
                            color: @green-grass-color;
                            text-decoration: none;

                            background: none;
                            border: 1px solid @green-grass-color;

                            transition: none;
                        }
                    }
                }
            }


            &#counter {
                color: @sky-blue-color;
                font-family: "Days", Helvetica, Arial, sans-serif;
                font-size: 18px
            }

            .centered-scale-element {
                @media (max-width: 480px) {
                    width: 100%;
                }
            }

            @import "projects";
        }



        .flag-language {
            margin-top: 15px;
            margin-bottom: 15px;

            > a {
                font-family: "Days", sans-serif; font-size: larger;
                color: @dark-blue-color;
                text-decoration: none;

                &:hover {
                    color: @white-color;
                }

                > img { margin-right: 5px; }

                > span {
                    color: rgba(0,19,47,0.9);
                    font-weight: 700;
                    text-shadow: none;

                    &:hover::before, &:focus::before {
                        -webkit-transform: scale(0.9);
                        -moz-transform: scale(0.9);
                        transform: scale(0.9);
                        opacity: 0;
                    }

                    &::before {
                        position: absolute;
                        top: 3px;

                        color: @white-color;

                        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
                        transition: transform 0.3s, opacity 0.3s;
                        content: attr(data-hover);
                    }
                }
            }

        }
    }
}