span.name-header {
    font-family: "Days", sans-serif;
    font-size: 55px;

    color: #FFF;

    .header-and-email-768px;
    .header-and-email-480px;
}

span.email {
    font-family: "Days", sans-serif;
    font-size: 48px;

    color: #ff7700;

    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;

    &:hover {
        color: #A090E4;
        transition: none;
    }

    .header-and-email-768px;
    .header-and-email-480px;
}

span.skype-header {
    font-family: "Days", sans-serif;
    font-size: 48px;

    .skype-768px;
    .skype-480px;

    &.left {
        color: #FFF;
        opacity: 0.6;
    }

    &.center {
        color: #FFF;
    }

    &.right {
        color: #57588C;
    }
}