@images: "../images";
@fonts: "../fonts";

@max-avatar-size: 120px;
@top-margin-for-div: 25px;
@bottom-margin-for-div: @top-margin-for-div;
@decrease-margin-koeff-for-mobile: 2.5;

@about-developer-padding: 8px;

@projects-padding: 4px;
@project-tag-font-size: 92.85%;
@project-tag-text-color: @cloud-color;
@project-tag-bg-color: @water-light-blue-color;
@project-tag-radius: .3em;

@project-p-text-color: @cloud-color;
@project-p-bg-light-color: @navy-grey-opaque-color;
@project-p-bg-light-color2: @grey-opaque-color;
@project-p-bg-dark-color: @black-opaque-color;

@porfolio-site-link-color: @orange-color;
@portfolio-site-header-color: @water-blue-color;

@feedback-highlight-color: @green-grass-color;
@feedback-left-border-color: @light-grey-purple-color;
@feedback-color: @white-color;
@feedback-hover-color: darken(saturate(@green-grass-color, 25%), 45%);
@feedback-bg-color: @fade-purple-color;

@transition-header-time: 2s;
@transition-text-time: 0.15s;
@transition-background-time: 0.15s;