@images: "../images";
@fonts: "../fonts";

@max-avatar-size: 120px;
@top-margin-for-div: 25px;

@projects-padding: 4px;
@project-tag-font-size: 92.85%;
@project-tag-text-color: @sky-light-color;
@project-tag-bg-color: @water-light-blue-color;
@project-tag-radius: .3em;

@project-p-text-color: @sky-light-color-saturated;
@project-p-bg-light-color: rgba(40, 194, 255, 0.05);
@project-p-bg-light-color2: rgba(106, 123, 126, 0.2);
@project-p-bg-dark-color: rgba(0, 0, 0, 0.14);

@porfolio-site-link-color: @orange-color;
@portfolio-site-header-color: @water-blue-color;