/* Webfont: Dax-Bold */@font-face {
    font-family: 'Dax';
    src: url('Dax-Bold.eot'); /* IE9 Compat Modes */
    src: url('Dax-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Dax-Bold.woff') format('woff'), /* Modern Browsers */
         url('Dax-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Dax-Bold.svg#Dax-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

