/* Webfont: Dax-Regular */@font-face {
    font-family: 'Dax';
    src: url('Dax-Regular.eot'); /* IE9 Compat Modes */
    src: url('Dax-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Dax-Regular.woff') format('woff'), /* Modern Browsers */
         url('Dax-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Dax-Regular.svg#Dax-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

