@font-face {
    font-family: "Helvetica Nue Light";
    src: url("/static/fonts/HelveticaNeueCyr-Light.otf");
    url("/static/fonts/HelveticaNeueCyr-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Nue";
    src: url("/static/fonts/HelveticaNeueCyr-Roman.otf");
    url("/static/fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 30px;
}

.container > h1, h2 {
    /*color: #6259b2;*/
    color: #34495E;
}

.table {
    font-family: "Helvetica Nue", serif;
}

.table-striped {
    border-top-color: #16A085;
}

.table-striped > thead > tr > th {
    background-color: #16A085;
    color: white;
    border-color: #16A085;
}

.text-info {
    color: #1ABC9C;
}

.label.label-info {
    background-color: #34495E;
}

@media (min-width: 768px) {

}
@media screen and (min-width: 768px) {
    body {
        padding: 0;
    }

    .masthead, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
