doctype html
html(lang="en")
    head
        include components/meta

        title Anya Novikova | Top Upwork Developer, responsive HTML5, Jade, Javascript, Django

    body
        include components/parallax

        .container.main-content-container

            include components/headers

            include components/about

            include components/tags

            include components/counter

            include components/projects

            include components/feedback

            include components/social

        include styles
        include scripts

include components/tag.jade