doctype html
html(lang="en")
    head
        include components/meta

        title Anya Novikova | Top Upwork Developer, responsive HTML5, Jade, Javascript, Django

    body
        .container#container

        include styles
        include scripts