doctype html
html(lang="en")
    head
        title Anya Novikova | Top Upwork Developer, responsive HTML5, Jade, Javascript, Django

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Top rated 10% Upwork HTML5, CSS3, Jade, Javascript and Django templates web developer")
        meta(name="keywords", content="960grid, adaptive, ajax, angular, bootstrap, css, css3, code, developer, design, django, flat, foundation, framework, freelancer, frontend, git, github, hg, html, html5, jquery, javascript, jade, jinja2, landing, layout, less, mobile, nodejs, nginx, oDesk, parallax, photoshop, project, psd, responsive, sass, sketch, stylesheet, twitterbootstrap, template, ui, userinterface, userexperience, upwork, web")

    body
        #parallax_container.container
            .design-copy Menangen design
            ul#scene.scene

        .container.image_container

            .row
                .col-md-12.avatar.text-center
                    img.img-circle.img-avatar(src="images/avatar.jpg", width="120px", height="120px", alt="Anya Novikova photo", title="Anya Novikova")
            .row
                .col-md-12.margined-top-div.text-center
                    span(title="TOP 10 Upwork HTML5 Developer").name-header.centered-scale-element HTML5 Jade Javascript developer Anya Novikova
            .row
                .col-md-6.margined-top-div.text-center
                    a#mailto: span(title="Send me email").email.centered-scale-element enable javascript please
                .col-md-6.margined-top-div.text-center
                    span(alt="Skype login", title="My login in Skype").skype-header.left skype
                    span(alt="Skype login", title="My login in Skype").skype-header.center :
                    span(alt="Skype login", title="My login in Skype").skype-header.right ane4kanoka


            .row
                .tags.col-md-12.text-center#tags

                    // Django tag
                    -
                        var attributes = {"@mouseover": "mouseOver('django')", "@mouseout": "mouseOut",
                        "@click": "click('django')", "v-bind:class": "{ 'open': tags.django}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-django(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="django", title="django", width="96px", height="96px")

                    // Twitter Bootstrap tag
                    -
                        var attributes = {"@mouseover": "mouseOver('bootstrap')", "@mouseout": "mouseOut",
                        "@click": "click('bootstrap')", "v-bind:class": "{ 'open': tags.bootstrap}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-bootstrap(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="bootstrap", title="bootstrap", width="96px", height="96px")

                    // Less framework tag
                    -
                        var attributes = {"@mouseover": "mouseOver('less')", "@mouseout": "mouseOut",
                        "@click": "click('less')", "v-bind:class": "{ 'open': tags.less}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-less(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="less framework", title="less framework", width="96px", height="96px")

                    // Sass / SCSS tag
                    -
                        var attributes = {"@mouseover": "mouseOver('sass')", "@mouseout": "mouseOut",
                        "@click": "click('sass')", "v-bind:class": "{ 'open': tags.sass}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-sass(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="sass", title="sass", width="96px", height="96px")

                    // Node.js tag
                    -
                        var attributes = {"@mouseover": "mouseOver('node')", "@mouseout": "mouseOut",
                        "@click": "click('node')", "v-bind:class": "{ 'open': tags.node}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-nodejs(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="node.js", title="node.js", width="96px", height="96px")

                    // Python tag
                    -
                        var attributes = {"@mouseover": "mouseOver('python')", "@mouseout": "mouseOut",
                        "@click": "click('python')", "v-bind:class": "{ 'open': tags.python}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-python(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="python", title="python", width="96px", height="96px")

                    // Javascript ECMAScript 6 tag
                    -
                        var attributes = {"@mouseover": "mouseOver('javascript')", "@mouseout": "mouseOut",
                        "@click": "click('javascript')", "v-bind:class": "{ 'open': tags.javascript}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-javascript(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="javascript", title="javascript", width="96px", height="96px")

                    // jQuery tag
                    -
                        var attributes = {"@mouseover": "mouseOver('jquery')", "@mouseout": "mouseOut",
                        "@click": "click('jquery')", "v-bind:class": "{ 'open': tags.jquery}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-jquery(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="jquery", title="jquery", width="96px", height="96px")

                    // Angular tag
                    -
                        var attributes = {"@mouseover": "mouseOver('angular')", "@mouseout": "mouseOut",
                        "@click": "click('angular')", "v-bind:class": "{ 'open': tags.angular}"}
                    a(href="#counter")&attributes(attributes)
                        img.sprite-angular(src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Transparent.gif", alt="angular.js", title="angular.js", width="96px", height="96px")


            .row
                .col-md-12.margined-top-div.text-center.text-uppercase.counter#counter {{ projectsCounterText }}

            .row
                .col-md-12.margined-top-div.projects#projectsList
                    //- Display filtered projects in loop
                    - var groupsAttributes = {"v-for": "couple in group"}
                    .row&attributes(groupsAttributes)

                        - var coupleAttributes = {"v-for": "project in couple"}
                        .col-md-6.col-sm-6&attributes(coupleAttributes)
                            .bordered-block
                                .row
                                    .col-md-12
                                        span.header.text-center {{ project.name }}
                                .row
                                    .col-md-4.col-sm-12.project-thumbnail
                                        .row
                                            .col-md-12
                                                img.center-block.img-responsive(src="images/portfolio-thumb/{{ project.image }}")
                                        .row
                                            .col-md-12.col-sm-12.col-xs-12.tags-container
                                                .tag.text-center
                                                    span.label.label-tag django
                                                .tag.text-center
                                                    span.label.label-tag python
                                                .tag.text-center
                                                    span.label.label-tag angular
                                                .tag.text-center
                                                    span.label.label-tag jquery
                                                .tag.text-center
                                                    span.label.label-tag javascript

                                    .col-md-8.col-sm-12.description {{{ project.description }}}
            .row
                nav.col-md-4.col-md-offset-4.text-center.flag-language
                    a(href="http://ane4k.in")
                        img(src="images/flag-russian.svg", alt="russian site", title="russian", width="48px")
                        span(data-hover="RUSSIAN") RUSSIAN

        //-link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        //-TODO:remove font awesomelink(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/main.min.css")

        //- Concatenated by gulp task Javascript: js/vendor/src/vue.min.js + js/vendor/src/zepto.min.js custom build (core only) + js/vendor/src/parallax.min.js
        script(type="text/javascript", src="js/all.js", async="async")
        //- Google Analytics script
        script(type='text/javascript').
            window._gaq = window._gaq || [];
            window._gaq.push(['_setAccount', 'UA-50636137-1']);
            window._gaq.push(['_trackPageview']);
        //- script(type="text/javascript", src="http://www.google-analytics.com/ga.js", async="async")