doctype html
html(lang="en")
    head
        include inline/meta

        title Anya Novikova | Top Upwork Developer, responsive HTML5, Jade, Javascript, Django

    body
        .container#container
            include inline/feedback
            include inline/communicate

        include inline/footer
        include inline/styles
        include inline/scripts