// Header decrease on mobile
.header-and-email-480px() {
    @media (max-width: 480px) {
        font-size: 2.5em;
    }
}
// Header decrease on mobile
.header-and-email-768px() {
    @media (max-width: 768px) {
        font-size: 3em;
    }
}
// Header decrease on mobile
.skype-480px() {
    @media (max-width: 480px) {
        font-size: 2.0em;
    }
}
// Header decrease on mobile
.skype-768px() {
    @media (max-width: 768px) {
        font-size: 2.5em;
    }
}
// tag sprite position in .svg image
.count-tag-width(@tagNumber, @width) {
    @sprite-position: (@tagNumber - 1) * -(@width + @tag-gutter);
}

// tag design inside project description
.project-span-label-tag() {
    background-color: #1386B8;
    color: #BFEBFF;
    border-radius: .3em;
}