// Header decrease on mobile
.header-and-email-480px() {
  @media (max-width: @screen-xs) {
    font-size: 2.5em;
  }
}
// Header decrease on mobile
.header-and-email-768px() {
  @media (max-width: @screen-sm) {
    font-size: 3em;
  }
}
// Header decrease on mobile
.skype-480px() {
  @media (max-width: @screen-xs) {
    font-size: 2.0em;
  }
}
// Header decrease on mobile
.skype-768px() {
  @media (max-width: @screen-sm) {
    font-size: 2.5em;
  }
}