.feedback {

    table {
        margin: auto;

        tr {
            span {
                display: inline-block;
                max-width: 15em;

                // Bootstrap's blockquote margin clone
                margin-bottom: 20px;
                //padding-left: 32px;

                font-size: 1.5em;
                font-weight: bold;

                color: @feedback-color;
                .header-transition(0.1s)
            }

            &:hover {
                span { color: @green-grass-color; .reset-transition(); }

                blockquote {
                    color: @feedback-text-hover-color;
                    border-color: @feedback-bg-color;
                    background-color: @feedback-highlight-color;
                    .reset-transition();
                }
            }
        }

    }


    h1 {
        color: @green-light-color;

        &:hover { color: @green-grass-color }
    }

    blockquote {
        border-left: 5px solid;
        border-color: @feedback-left-border-color;
        //border-radius: 2px;

        background-color: @feedback-bg-color;
        color: @feedback-color;
        .background-transition(@transition-background-time);

        max-width: 15.0em;
    }

    @media (max-width: 480px) {
        line-height: 1.5em;
    }
}