extends ../base.jade

block title
    title Conclave: social network on Nodejs, HTML5, Jade, Javascript, SASS and LESS project | Anya Novikova

block portfolio-thumb
    .row.text-center
        span.portfolio-header Conclave

block about-project
    ul
        li
            kbd This is NDA project
        li
            a(href="http://git-scm.com/about", target="_blank") Git
        li
            a(href="http://nodejs.org", target="_blank") NodeJS with many modules such as Compass
        li
            a#jade(href="http://jade-lang.com/", target="_blank") Jade template engine
                span.glyphicon.glyphicon-export
        li
            a#less(href="http://lesscss.org/features/", target="_blank") LESS
                span.glyphicon.glyphicon-export
                |&nbsp;|&nbsp;

            a#sass(href="http://sass-lang.com/guide", target="_blank") SASS
                span.glyphicon.glyphicon-export
        li
            a(href="http://getbootstrap.com/css/", target="_blank") Bootstrap | 2

        li
            a(href="http://jquery.com/", target="_blank") jQuery

    p.col-md-12
        | This is a social network project for American schools and teachers.

block about-team
    p
        | On this work i contacted with my main manager from
        strong  San Diego Calif.

        br
        | The team consisted of me and NodeJS developer Alex. We worked in series:
        br
        | i received a design in
        strong  PSD format,&nbsp;
        | after i&nbsp;
        a(href="http://www.jetbrains.com/webstorm/", target="_blank") programmed html/css with Webstorm tool&nbsp;
        | and
        strong  LESS&nbsp;
        | +
        strong  SASS&nbsp;
        | under Compass compiler.
        | We used&nbsp;
        a(href="https://www.odesk.com/o/profiles/users/_~01ffe04a2db9f8b16a/", target="_blank") oDesk&nbsp;
        | and e-mail communication with Skype.

block my-role
    p.col-md-12
        | This e-social network site based on NodeJS and Jade template engine also used SASS as main CSS preprocessor
        | and i used my knowledge of LESS preprocessor also with Twitter Bootstrap as grid based CSS framework.
        | When i worked with project"s repo i used&nbsp;
        a(href="http://git-scm.com/about", target="_blank") GIT version control system&nbsp;
        | and dedicated server on Linux.
        | I programmed this project under my Mac with SSH port-forwarding techniques.
        | I worked near 5 weeks with this project and developed Jade pages with many SASS code.

    ul(style="display: inline-block")
        li Near 20 SASS files
        li Near 10 LESS files
        li Near 50 JavaScript files for browser
        li Hierarchical Jade templates (40 files .
            strong jade
            | )
        li Compass for SASS and JavaScript on server-side with jQuery on frontend.
        li LESS and SASS code with Bootstrap for all elements

block result
    p.col-md-12
        | After 5 weeks i completed project and main goal was
        u converting inline CSS styles to SASS&nbsp;
        | under Twitter Bootstrap and completing JavaScript code.
        br
        | My American manager quote:
    blockquote
        | "I would like to keep working with her as much as possible for future projects too".
    p.col-md-12
        | During this project I increased my skills with SASS and NodeJS.
        | I got a good experience with NodeJS based ecommerce architecture.



block images-content
    .col-md-6.images-a-content
        .col-md-6
            a.thumbnail(href="images/compose-page.jpg", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/conclave-page.png", alt="main page of conclave")
                br
                button.btn.btn-default.btn-block(type="button")
                    i.fa.fa-link
                    | Main page screenshot
        .col-md-6
            a.thumbnail(href="images/less_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/less-code.png", alt="...")
                br
                button.btn.btn-default.btn-block(type="button")
                    i.fa.fa-link
                    |Show LESS screenshot
        .col-md-6
            a.thumbnail(href="images/js_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/js-code.png", alt="...")
                br
                button.btn.btn-default.btn-block(type="button")
                    i.fa.fa-link
                    |Show JS screenshot
        .col-md-6
            a.thumbnail(href="images/sass_1_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/sass-code.png", alt="Admin panel")
                br
                button.btn.btn-default.btn-block.sass-button(type="button")
                    i.fa.fa-link
                    | Show&nbsp;
                    b 1&nbsp;
                    | SASS screenshot
        .col-md-6
            a.thumbnail(href="images/sass_2_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/sass-code.png", alt="Admin panel")
                br
                button.btn.btn-default.btn-block.sass-button(type="button")
                    i.fa.fa-link
                    | Show&nbsp;
                    b 2&nbsp;
                    | SASS screenshot
        .col-md-6
            a.thumbnail(href="images/jade_1_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/jade-code.png", alt="Admin panel")
                br
                button.btn.btn-default.btn-block.jade-button(type="button")
                    i.fa.fa-link
                    | Show&nbsp;
                    b 1&nbsp;
                    | Jade screenshot
        .col-md-6
            a.thumbnail(href="images/jade_2_code_optimized.png", target="_blank")
                img.img-thumbnail(src="../../images/portfolio-thumb/jade-code.png", alt="Admin panel")
                br
                button.btn.btn-default.btn-block.jade-button(type="button")
                    i.fa.fa-link
                    | Show&nbsp;
                    b 2&nbsp;
                    | Jade screenshot