extends ../base.jade

block title
    title Conclave | Anna Novikova

block about-project
    ul
        li
            kbd This is NDA project
        li
            a(href="http://git-scm.com/about") Git
        li
            a(href="http://nodejs.org") NodeJS
            | with many modules such as Compass
        li
            a#jade(href="http://jade-lang.com/") Jade template engine
        li
            a#less(href="http://lesscss.org/features/") LESS
            | |
            a#sass(href="http://sass-lang.com/guide") SASS
        li
            a(href="http://getbootstrap.com/css/") Bootstrap
            | 2
        li jQuery