//- Concatenated by gulp task Javascript:
script(type="text/javascript", src="js/bundle.js", async="async")
//- Google Analytics script
script(type='text/javascript').
    window._gaq = window._gaq || [];
    window._gaq.push(['_setAccount', 'UA-50636137-1']);
    window._gaq.push(['_trackPageview']);

script(type="text/javascript", src="https://ssl.google-analytics.com/ga.js", async="async")